[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-restful = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"
requests = "*"
attrs = "*"
sqlalchemy = "*"
honcho = "*"
gunicorn = "*"

[dev-packages]
zipp = "*"

[requires]
python_version = "3.9"
